@font-face {
  font-family: Quando;
  src: url("https://cdn.glitch.global/46bfdec8-b33b-4d33-a733-c26bf54b68d9/Quando-Regular.ttf?v=1716570796848")
    format("truetype");
}

@font-face {
  font-family: ABC;
  src: url("https://cdn.glitch.global/46bfdec8-b33b-4d33-a733-c26bf54b68d9/Lack-Regular.otf?v=1716572864096")
    format("truetype");
}


*{margin: 0;
font-family: Quando;
}

body {
  background:#E3C9BE;
  color:#393134;
}

h1 {
  font-family: Quando;
  color:#E3C9BE;
  -webkit-text-stroke: 2px #A0051A;
  text-stroke: 2px #A0051A;
  margin:50px;
   margin-left: 15vw;
margin-bottom: 20px;
  font-size:48px;
}
#subtext {

  margin-left: 15vw;
  margin-bottom: 50px;
 
}
#text{
  
  margin:20px;
  font-size:16px;
}